flows.json
[{"id":"e2b837c2.9e2be8","type":"tab","label":"Login Flow","disabled":false,"info":""},{"id":"497feb9e.421f54","type":"tab","label":"Logout Flow","disabled":false,"info":""},{"id":"21db4fe9.158d2","type":"tab","label":"ldap Flow","disabled":false,"info":""},{"id":"cafe140c.d22e68","type":"tab","label":"Token Flow","disabled":false,"info":""},{"id":"c4ef04b6.f3ef08","type":"tab","label":"SysProp Flow","disabled":false,"info":""},{"id":"42cc5e2a.1f178","type":"subflow","name":"MySQL flow","info":"","in":[{"x":39,"y":74,"wires":[{"id":"d3bad3a8.f470b"}]}],"out":[{"x":483,"y":70,"wires":[{"id":"3c5d28e5.0271d8","port":0},{"id":"e9e32afa.2b8a48","port":0},{"id":"aa59a2f.fd8676","port":0}]}]},{"id":"47f0f2eb.a3493c","type":"subflow","name":"Redis get flow","info":"","in":[{"x":65,"y":79,"wires":[{"id":"1869744b.0b0d4c"}]}],"out":[{"x":447,"y":82,"wires":[{"id":"14ef4506.5367cb","port":0},{"id":"1ccf01b9.39ea0e","port":0},{"id":"d5ab2a6d.b5de28","port":0}]}]},{"id":"c8b8ab14.3c2f48","type":"MySQLdatabase","z":"","host":"mysqldb","port":"3306","db":"cloudb_dev","tz":""},{"id":"366c9503.fe3e5a","type":"MySQLdatabase","z":"","host":"mysqldb","port":"3306","db":"cloudb_dev","tz":""},{"id":"1cc07558.8db6bb","type":"redis-config","z":"","host":"redis-svr","port":"6379","dbase":"0","pass":""},{"id":"2b254c02.220054","type":"node-red-contrib-nr-ldapauth-cred","z":"","host":"10.5.1.101","port":"389","ldaps":false,"certificatepath":"","name":"gemtek_ldap"},{"id":"f61937b6.35a578","type":"redis-config","z":"","host":"redis-svr","port":"6379","dbase":"0","pass":""},{"id":"42c65af9.ad7ff4","type":"redis-config","z":"47f0f2eb.a3493c","host":"redis-svr","port":"6379","dbase":"0","pass":""},{"id":"8032dbcd.04df78","type":"redis-config","z":"47f0f2eb.a3493c","host":"redis-svr","port":"6379","dbase":"0","pass":""},{"id":"d3bad3a8.f470b","type":"switch","z":"42cc5e2a.1f178","name":"lbs","property":"flow","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"str"},{"t":"gt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":139,"y":73,"wires":[["3c5d28e5.0271d8"],["e9e32afa.2b8a48"]]},{"id":"3c5d28e5.0271d8","type":"mysql","z":"42cc5e2a.1f178","mydb":"c8b8ab14.3c2f48","name":"cloudb_17","x":322,"y":39,"wires":[[]]},{"id":"e9e32afa.2b8a48","type":"mysql","z":"42cc5e2a.1f178","mydb":"366c9503.fe3e5a","name":"cloudb_12","x":306,"y":103,"wires":[[]]},{"id":"fa8a8ba.f984478","type":"catch","z":"42cc5e2a.1f178","name":"","scope":["e9e32afa.2b8a48","3c5d28e5.0271d8"],"x":76.5,"y":221,"wires":[["aa59a2f.fd8676"]]},{"id":"aa59a2f.fd8676","type":"function","z":"42cc5e2a.1f178","name":"set no data to output","func":"let emptyArray = []\nmsg.payload = emptyArray\nreturn msg","outputs":1,"noerr":0,"x":291.5,"y":221,"wires":[[]]},{"id":"fdda7208.13bc5","type":"http in","z":"e2b837c2.9e2be8","name":"","url":"/login/:cp","method":"post","upload":false,"swaggerDoc":"","x":98.00000762939453,"y":857.0000243186951,"wires":[["6c7868eb.411df8","7ba35f5e.10942"]]},{"id":"ab0dc096.bfcf7","type":"switch","z":"e2b837c2.9e2be8","name":"check pwd","property":"payload.pwd","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":104.00000762939453,"y":756,"wires":[["d17329cf.958908"],["642bcaf2.ef8bb4"]]},{"id":"d17329cf.958908","type":"switch","z":"e2b837c2.9e2be8","name":"check acc","property":"payload.acc","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":97.00000762939453,"y":702.999997138977,"wires":[["262cc0ad.32f73"],["642bcaf2.ef8bb4"]]},{"id":"642bcaf2.ef8bb4","type":"function","z":"e2b837c2.9e2be8","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":353.0000114440918,"y":731.5000047683716,"wires":[["a0dc81b9.ec6b1"]]},{"id":"a0dc81b9.ec6b1","type":"http response","z":"e2b837c2.9e2be8","name":"","statusCode":"","headers":{},"x":551.0000114440918,"y":735.5000047683716,"wires":[]},{"id":"262cc0ad.32f73","type":"function","z":"e2b837c2.9e2be8","name":"set user data to flow","func":"let ip = msg.req.get(\"x-client-ip\")\nif(ip && ip.indexOf(\",\") != -1){\n    let ar = ip.split(',')\n    ip = ar[0]\n}\nmsg.payload['ip'] = ip\nmsg.payload['cp'] = msg.req.params.cp\nmsg['userInfo'] = msg.payload\nmsg.payload = msg.payload.pwd\nreturn msg","outputs":1,"noerr":0,"x":118.00000762939453,"y":643.999997138977,"wires":[["d0bec150.e3b23"]]},{"id":"d0bec150.e3b23","type":"function","z":"e2b837c2.9e2be8","name":"set user query","func":"let newUser = msg['userInfo']\nlet sqlStr = 'select usr.*, r.roleName, r.dataset from ((select * from api_user where userBlock = 0 and cpId =(select cpId from api_cp where cpName = \"'+newUser.cp+'\") and (userName = \"'+newUser.acc+'\" or email = \"'+newUser.acc+'\")) as usr left join api_role as r on usr.roleId = r.roleId)'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":123.00000762939453,"y":583.999997138977,"wires":[["f65152af.f4bc1"]]},{"id":"5822d359.875fdc","type":"switch","z":"e2b837c2.9e2be8","name":"check user exist","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":120.75001525878906,"y":471.25,"wires":[["cb594b5c.5b7758"],["827bcfff.d0e49"]]},{"id":"827bcfff.d0e49","type":"function","z":"e2b837c2.9e2be8","name":"set no data result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'No user data'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":383.00000762939453,"y":517.250002861023,"wires":[["43598ef7.22db6"]]},{"id":"a7a2e8f7.2560e8","type":"http response","z":"e2b837c2.9e2be8","name":"admin","statusCode":"","headers":{"Access-Control-Allow-Origin":"*","Access-Control-Allow-Methods":"POST, GET, OPTIONS"},"x":700.75,"y":50,"wires":[]},{"id":"cb594b5c.5b7758","type":"function","z":"e2b837c2.9e2be8","name":"set user to flow","func":"msg['dbUser'] = msg.payload[0]\nlet sqlStr = 'select g.grpId, g.grpName, m.createFlg, m.updateFlg, m.deleteFlg from api_ra_mapping m left join api_grp g on m.grpId = g.grpId where roleId = '+msg.payload[0].roleId + ' order by m.sortId'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":120.2500228881836,"y":425.75,"wires":[["e411cc4e.528ec"]]},{"id":"a523dd06.eb747","type":"decrypt","z":"e2b837c2.9e2be8","name":"decrypt","algorithm":"TripleDES","key":"gemtek","x":112.25000762939453,"y":294.00000381469727,"wires":[["82b4cab3.a61ff8"]]},{"id":"82b4cab3.a61ff8","type":"function","z":"e2b837c2.9e2be8","name":"check pwd","func":"let userInfo = msg['userInfo']\nlet dbUser = msg['dbUser']\nlet newPayload = {}\nif(userInfo.pwd === msg.payload){\n    newPayload['responseCode'] = '000'\n}else{\n    if(dbUser.userBlock === 1){\n        newPayload['responseCode'] = '401'\n        newPayload['responseMsg'] = 'user block'\n    }else{\n        newPayload['responseCode'] = '403'\n        newPayload['responseMsg'] = 'password incorrect'    \n    }\n}\nmsg['payload'] = newPayload\nreturn msg;","outputs":1,"noerr":0,"x":115.75000762939453,"y":245.75000429153442,"wires":[["9da87684.b11948"]]},{"id":"9da87684.b11948","type":"switch","z":"e2b837c2.9e2be8","name":"check statusCode","property":"payload.responseCode","propertyType":"msg","rules":[{"t":"eq","v":"000","vt":"str"},{"t":"neq","v":"000","vt":"str"}],"checkall":"true","outputs":2,"x":133.50001525878906,"y":200.00000476837158,"wires":[["9ba1fafb.40e218"],["c2c51396.6859"]]},{"id":"9ba1fafb.40e218","type":"function","z":"e2b837c2.9e2be8","name":"gen token","func":"let userInfo = msg['userInfo']\nlet dbUser = msg['dbUser']\nlet grps = msg['grps']\nlet grpStr = ''\nlet d = new Date()\nlet nowSeconds = Math.round(d.getTime() / 1000)\nif(grps && grps.length > 0){\n    for(let i = 0 ; i < grps.length ; i++){\n      grpStr += grps[i].grpId\n      if( i < grps.length - 1)\n        grpStr += ','\n    }\n}\nmsg.payload = grpStr+':'+nowSeconds+\":\"+dbUser.userId+\":\"+dbUser.cpId+\":\"+dbUser.roleId+\":\"+dbUser.dataset\nuserInfo['decryptToken'] = msg.payload\nmsg['userInfo'] = userInfo\nreturn msg;","outputs":1,"noerr":0,"x":124.25,"y":151,"wires":[["1b541a41.c512a6"]]},{"id":"1b541a41.c512a6","type":"encrypt","z":"e2b837c2.9e2be8","name":"encrypt token","algorithm":"TripleDES","key":"gemtektoken","x":142.5,"y":106.25,"wires":[["ed0082a8.39a14"]]},{"id":"ed0082a8.39a14","type":"function","z":"e2b837c2.9e2be8","name":"insert login history","func":"let userInfo = msg['userInfo']\nlet dbUser = msg['dbUser']\nlet newPayload = []\nuserInfo['token'] = msg.payload\n\nlet sqlStr = 'insert into api_login_history(userId, userToken, history_login_time, history_ip, history_type, createTime) values ('+dbUser.userId+',\"'+msg.payload+'\", current_time(), \"'+userInfo.ip+'\", '+userInfo.type+', current_time())'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nmsg['userInfo'] = userInfo\nnewPayload.push(msg.payload)\nnewPayload.push(60)\nnewPayload.push('')\nmsg.payload = newPayload\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":150,"y":60,"wires":[["2d4797f3.db5d48","5f6c88de.2c9448"]]},{"id":"c02467e0.f5e608","type":"function","z":"e2b837c2.9e2be8","name":"set result","func":"let newPayload = {}\nlet userData = {}\nlet userInfo = msg['userInfo']\nlet dbUser = msg['dbUser']\nlet grps = msg['grps']\nif(msg.payload.affectedRows && msg.payload.affectedRows > 0){\n    userData['name'] = dbUser['userName']\n    userData['nickName'] = dbUser['nickName']\n    userData['gender'] = dbUser['gender']\n    userData['pic'] = dbUser['pic']\n    userData['email'] = dbUser['email']\n    newPayload['userInfo'] = userData\n    newPayload['services'] = grps\n    newPayload['role'] = dbUser['roleName']\n    newPayload['authToken'] = userInfo['token']\n    newPayload['responseCode'] = '000'\n    newPayload['responseMsg'] = 'login success'\n}else{\n    newPayload['responseCode'] = '999'\n    newPayload['responseMsg'] = 'insert history fail'\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":537.2500305175781,"y":51.00000762939453,"wires":[["a7a2e8f7.2560e8","cc710d94.824d5"]]},{"id":"f65152af.f4bc1","type":"subflow:42cc5e2a.1f178","z":"e2b837c2.9e2be8","x":119.00000762939453,"y":519.999997138977,"wires":[["5822d359.875fdc"]]},{"id":"2d4797f3.db5d48","type":"subflow:42cc5e2a.1f178","z":"e2b837c2.9e2be8","x":350,"y":60,"wires":[["c02467e0.f5e608"]]},{"id":"6e9c31e.cce88d","type":"inject","z":"e2b837c2.9e2be8","name":"","topic":"","payload":"U2FsdGVkX1+i7l3qj1yfscFyNUof914vQUcwaA5bP3M=","payloadType":"str","repeat":"","crontab":"","once":false,"x":111.00000381469727,"y":933.5000219345093,"wires":[["65d09213.bb713c"]]},{"id":"65d09213.bb713c","type":"decrypt","z":"e2b837c2.9e2be8","name":"","algorithm":"TripleDES","key":"gemtek","x":301.00000762939453,"y":932.5000243186951,"wires":[["2bb99e12.941b42"]]},{"id":"2bb99e12.941b42","type":"debug","z":"e2b837c2.9e2be8","name":"","active":true,"console":"false","complete":"false","x":477.00000762939453,"y":931.5000243186951,"wires":[]},{"id":"43598ef7.22db6","type":"http response","z":"e2b837c2.9e2be8","name":"","statusCode":"","headers":{},"x":658.7500190734863,"y":539.7500047683716,"wires":[]},{"id":"c2c51396.6859","type":"http response","z":"e2b837c2.9e2be8","name":"","statusCode":"","headers":{},"x":352.25001525878906,"y":256.0000047683716,"wires":[]},{"id":"c7f4a687.ba8af8","type":"inject","z":"e2b837c2.9e2be8","name":"","topic":"","payload":"DASHBOARD","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.50000381469727,"y":975.5000247955322,"wires":[["4fecb414.a8f4fc"]]},{"id":"274f3cc3.89a924","type":"debug","z":"e2b837c2.9e2be8","name":"","active":true,"console":"false","complete":"false","x":487.50000381469727,"y":972.5000247955322,"wires":[]},{"id":"4fecb414.a8f4fc","type":"encrypt","z":"e2b837c2.9e2be8","name":"","algorithm":"TripleDES","key":"gemtek","x":293.00000381469727,"y":975.5000247955322,"wires":[["274f3cc3.89a924"]]},{"id":"e411cc4e.528ec","type":"subflow:42cc5e2a.1f178","z":"e2b837c2.9e2be8","x":124.5,"y":384,"wires":[["6a82bfdd.442e8"]]},{"id":"6a82bfdd.442e8","type":"function","z":"e2b837c2.9e2be8","name":"set pwd","func":"let dbUser = msg['dbUser']\nmsg['grps'] = msg.payload\nmsg.payload = dbUser.userPwd\nreturn msg","outputs":1,"noerr":0,"x":123.5,"y":342,"wires":[["a523dd06.eb747"]]},{"id":"cc710d94.824d5","type":"debug","z":"e2b837c2.9e2be8","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","x":664.5,"y":105,"wires":[]},{"id":"892932d5.ef5af","type":"redis-command","z":"e2b837c2.9e2be8","server":"1cc07558.8db6bb","command":"setex","name":"","topic":"","x":530,"y":180,"wires":[["35fa3d28.933402"]]},{"id":"35fa3d28.933402","type":"debug","z":"e2b837c2.9e2be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":180,"wires":[]},{"id":"5f6c88de.2c9448","type":"function","z":"e2b837c2.9e2be8","name":"set property sql","func":"let userInfo = msg['userInfo']\nlet sqlStr = 'select * from api_system_properties where p_name = \"TOKEN_EXPIRE\"'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["e0370f91.1f4fd"]]},{"id":"e0370f91.1f4fd","type":"subflow:42cc5e2a.1f178","z":"e2b837c2.9e2be8","x":350,"y":140,"wires":[["7dba2ffc.f23df"]]},{"id":"7dba2ffc.f23df","type":"function","z":"e2b837c2.9e2be8","name":"set expire","func":"let newPayload = []\nlet userInfo = msg['userInfo']\nlet expireTime = 86400\nif(msg.payload.length > 0){\n  expireTime = msg.payload[0]['p_value']\n}\nnewPayload.push(userInfo.token)\nnewPayload.push(expireTime)\nnewPayload.push(userInfo.decryptToken)\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["892932d5.ef5af"]]},{"id":"609c4ec7.66dad","type":"http in","z":"21db4fe9.158d2","name":"","url":"/ldap/login","method":"post","upload":false,"swaggerDoc":"","x":92,"y":302,"wires":[["c2366b2c.892708"]]},{"id":"a6086d4b.64bf","type":"node-red-contrib-nr-ldapauth","z":"21db4fe9.158d2","name":"","server":"2b254c02.220054","filter":"(&(objectClass=user)(sAMAccountName={{username}}))","searchbase":"dc=gemteks,dc=com","x":261,"y":93,"wires":[["1894d099.2f850f","e5023db8.4ae0d"]]},{"id":"c2366b2c.892708","type":"switch","z":"21db4fe9.158d2","name":"check u","property":"payload.u","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":93,"y":254,"wires":[["5590d490.e8ff6c"],["dbc1b740.8f9c18"]]},{"id":"5590d490.e8ff6c","type":"switch","z":"21db4fe9.158d2","name":"check p","property":"payload.p","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":92,"y":208,"wires":[["25d37732.1016b8"],["dbc1b740.8f9c18"]]},{"id":"dbc1b740.8f9c18","type":"function","z":"21db4fe9.158d2","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":287,"y":238,"wires":[["5ff841de.cb832"]]},{"id":"5ff841de.cb832","type":"http response","z":"21db4fe9.158d2","name":"","statusCode":"","headers":{},"x":851,"y":208,"wires":[]},{"id":"25d37732.1016b8","type":"function","z":"21db4fe9.158d2","name":"set ip","func":"msg.req.ip = \"10.5.1.101\"\nnode.warn(\"ip:\"+msg.req.ip)\nreturn msg","outputs":1,"noerr":0,"x":100,"y":157,"wires":[["a6086d4b.64bf","845bab05.9e9338"]]},{"id":"845bab05.9e9338","type":"debug","z":"21db4fe9.158d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":223,"y":154,"wires":[]},{"id":"1894d099.2f850f","type":"debug","z":"21db4fe9.158d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":469,"y":58,"wires":[]},{"id":"e5023db8.4ae0d","type":"function","z":"21db4fe9.158d2","name":"check result","func":"let newPayload = {}\nif(msg.auth){\n  newPayload.responseCode = '000'\n  newPayload.responseMsg = 'login success'\n}else{\n  newPayload.responseCode = '403'\n  newPayload.responseMsg = 'login fail'\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":478,"y":124,"wires":[["5ff841de.cb832"]]},{"id":"9ec4fd89.cbba9","type":"http in","z":"497feb9e.421f54","name":"","url":"/logout","method":"post","upload":false,"swaggerDoc":"","x":112,"y":404,"wires":[["7b414f3.bb7dab"]]},{"id":"7b414f3.bb7dab","type":"switch","z":"497feb9e.421f54","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":131,"y":324,"wires":[["521e959.4eef46c"],["25841c72.7dad04"]]},{"id":"25841c72.7dad04","type":"function","z":"497feb9e.421f54","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":326.5,"y":351,"wires":[["82664abd.fa3dd8"]]},{"id":"82664abd.fa3dd8","type":"http response","z":"497feb9e.421f54","name":"","statusCode":"","headers":{},"x":884.5,"y":348,"wires":[]},{"id":"521e959.4eef46c","type":"function","z":"497feb9e.421f54","name":"set token to decrypt","func":"msg['tokenInfo'] = msg.payload\nmsg.payload = msg.payload.token\nreturn msg","outputs":1,"noerr":0,"x":168,"y":249,"wires":[["27c1f0b1.35d55"]]},{"id":"27c1f0b1.35d55","type":"decrypt","z":"497feb9e.421f54","name":"decrypt token","algorithm":"TripleDES","key":"gemtektoken","x":158,"y":184,"wires":[["552e94d.1c3d36c"]]},{"id":"552e94d.1c3d36c","type":"function","z":"497feb9e.421f54","name":"set update sql","func":"let tokenInfo = msg['tokenInfo']\nlet token = msg.payload\nlet newPayload = []\nlet ar = token.split(':')\nif(ar.length !== 6){\n    msg['check'] = 0\n}else{\n    msg['check'] = 1\n}\nlet sqlStr = 'update api_login_history set history_logout_time = current_time() where history_logout_time is null and userToken = \"'+tokenInfo.token+'\" and userId = ' + ar[2]\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nnewPayload.push(tokenInfo.token)\nmsg.payload = newPayload\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}\n","outputs":1,"noerr":0,"x":161,"y":127,"wires":[["85f83a5b.8f9e28"]]},{"id":"85f83a5b.8f9e28","type":"switch","z":"497feb9e.421f54","name":"check decrypt token","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":164,"y":74,"wires":[["297ea8a4.a27008","dafb791d.f9db38"],["d7d7cfb6.41dec"]]},{"id":"d7d7cfb6.41dec","type":"function","z":"497feb9e.421f54","name":"set token fail result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'token fail'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":445,"y":251,"wires":[["82664abd.fa3dd8"]]},{"id":"f1e63d38.fae9a","type":"function","z":"497feb9e.421f54","name":"set result","func":"let newPayload = {}\nif(msg.payload.affectedRows && msg.payload.affectedRows > 0){\n    newPayload['responseCode'] = '000'\n    newPayload['responseMsg'] = 'logout success'    \n}else{\n    newPayload['responseCode'] = '404'\n    newPayload['responseMsg'] = 'alredy logout or no login data'\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":612.5,"y":90,"wires":[["82664abd.fa3dd8"]]},{"id":"297ea8a4.a27008","type":"redis-command","z":"497feb9e.421f54","server":"f61937b6.35a578","command":"del","name":"del cache","topic":"","x":432.5,"y":163,"wires":[["7a3d0d02.b6e524"]]},{"id":"7a3d0d02.b6e524","type":"debug","z":"497feb9e.421f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":582.5,"y":163,"wires":[]},{"id":"dafb791d.f9db38","type":"subflow:42cc5e2a.1f178","z":"497feb9e.421f54","x":404,"y":74,"wires":[["f1e63d38.fae9a"]]},{"id":"6c7868eb.411df8","type":"debug","z":"e2b837c2.9e2be8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":306.50000381469727,"y":855.8000240325928,"wires":[]},{"id":"7ba35f5e.10942","type":"json","z":"e2b837c2.9e2be8","name":"","property":"payload","action":"obj","pretty":false,"x":92.5,"y":809.6001214981079,"wires":[["ab0dc096.bfcf7"]]},{"id":"9d6040ad.09235","type":"http in","z":"cafe140c.d22e68","name":"","url":"/chkToken","method":"get","upload":false,"swaggerDoc":"","x":115.5,"y":456,"wires":[["cea3d073.f2b31"]]},{"id":"e0372c12.dc7ae","type":"function","z":"cafe140c.d22e68","name":"check login history","func":"let actInfo = msg.payload\nlet sqlStr = 'select * from api_login_history where history_logout_time is null and userToken = \"' + actInfo.token+ '\" '\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nmsg['actInfo'] = actInfo\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}\nreturn msg","outputs":1,"noerr":0,"x":122,"y":364,"wires":[["ac7c7b43.99e238"]]},{"id":"a4b6cdeb.d24cd","type":"switch","z":"cafe140c.d22e68","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":117.5,"y":258,"wires":[["cf0f2759.555a08"],["9443e59e.7be398"]]},{"id":"ac7c7b43.99e238","type":"subflow:42cc5e2a.1f178","z":"cafe140c.d22e68","x":118.5,"y":311,"wires":[["a4b6cdeb.d24cd"]]},{"id":"cea3d073.f2b31","type":"switch","z":"cafe140c.d22e68","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":120,"y":413,"wires":[["e0372c12.dc7ae"],["9492bdbf.27302"]]},{"id":"9492bdbf.27302","type":"function","z":"cafe140c.d22e68","name":"set missing para","func":"let newPayload = {}\nnewPayload['responseCode'] = 404\nnewPayload['responseMsg'] = 'missing parameters'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":361.5,"y":397,"wires":[["f91046c1.8773c8"]]},{"id":"f91046c1.8773c8","type":"http response","z":"cafe140c.d22e68","name":"","statusCode":"","headers":{},"x":694.5,"y":254,"wires":[]},{"id":"1869744b.0b0d4c","type":"switch","z":"47f0f2eb.a3493c","name":"lbs","property":"flow","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"str"},{"t":"lt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":165.5,"y":78,"wires":[["14ef4506.5367cb"],["1ccf01b9.39ea0e"]]},{"id":"14ef4506.5367cb","type":"redis-command","z":"47f0f2eb.a3493c","server":"42c65af9.ad7ff4","command":"get","name":"redis_23","topic":"","x":318.5,"y":52,"wires":[[]]},{"id":"1ccf01b9.39ea0e","type":"redis-command","z":"47f0f2eb.a3493c","server":"8032dbcd.04df78","command":"get","name":"redis_22","topic":"","x":317,"y":109,"wires":[[]]},{"id":"ae6b6d22.2992a","type":"catch","z":"47f0f2eb.a3493c","name":"","scope":["1ccf01b9.39ea0e","14ef4506.5367cb"],"x":99.5,"y":242,"wires":[["d5ab2a6d.b5de28"]]},{"id":"d5ab2a6d.b5de28","type":"function","z":"47f0f2eb.a3493c","name":"set null to payload","func":"msg.payload = null\nreturn msg","outputs":1,"noerr":0,"x":317.5,"y":240,"wires":[[]]},{"id":"cf0f2759.555a08","type":"function","z":"cafe140c.d22e68","name":"set token to payload","func":"let actInfo = msg['actInfo']\nlet newPayload = []\nnewPayload.push(actInfo.token)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":149,"y":202,"wires":[["4e5110ab.93e0a"]]},{"id":"4e5110ab.93e0a","type":"subflow:47f0f2eb.a3493c","z":"cafe140c.d22e68","x":134,"y":150,"wires":[["3d5a238d.3a858c"]]},{"id":"3d5a238d.3a858c","type":"switch","z":"cafe140c.d22e68","name":"check token expired","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":144,"y":108,"wires":[["e8e9e2dd.d6432"],["45e3dd17.27c094"]]},{"id":"9443e59e.7be398","type":"function","z":"cafe140c.d22e68","name":"set logout","func":"let newPayload = {}\nnewPayload['responseCode'] = 404\nnewPayload['responseMsg'] = 'User already logout'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":370,"y":279,"wires":[["f91046c1.8773c8"]]},{"id":"45e3dd17.27c094","type":"function","z":"cafe140c.d22e68","name":"set token expired","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'Token expired'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":387,"y":164,"wires":[["f91046c1.8773c8"]]},{"id":"e8e9e2dd.d6432","type":"function","z":"cafe140c.d22e68","name":"set success","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'token verify success'\nnewPayload['data'] = msg.payload\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":394.5,"y":84,"wires":[["f91046c1.8773c8"]]},{"id":"9447ad10.ce4cc","type":"switch","z":"c4ef04b6.f3ef08","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":122,"y":435,"wires":[["d0b1df1.c2aa52"],["8b57094c.396d78"]]},{"id":"d0b1df1.c2aa52","type":"function","z":"c4ef04b6.f3ef08","name":"check login history","func":"msg['actInfo'] = msg.payload\nlet sqlStr = 'select * from api_login_history where history_logout_time is null and userToken = \"' + msg.payload.token+ '\" '\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":134,"y":389,"wires":[["9990d313.f4a6a"]]},{"id":"8b57094c.396d78","type":"function","z":"c4ef04b6.f3ef08","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":383,"y":454,"wires":[["52aa22f9.28c42c"]]},{"id":"52aa22f9.28c42c","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1136,"y":416,"wires":[]},{"id":"40f8d8ed.3d0098","type":"switch","z":"c4ef04b6.f3ef08","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":122,"y":301,"wires":[["863f039d.1f555"],["752f28f2.f090a8"]]},{"id":"752f28f2.f090a8","type":"function","z":"c4ef04b6.f3ef08","name":"set logout result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'User already logout'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":389,"y":350,"wires":[["52aa22f9.28c42c"]]},{"id":"39990ff1.6c9c2","type":"switch","z":"c4ef04b6.f3ef08","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":150,"y":97,"wires":[["9db0f732.3c3f38"],["fc6caa69.b98fb8"]]},{"id":"fc6caa69.b98fb8","type":"function","z":"c4ef04b6.f3ef08","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":390,"y":117,"wires":[["52aa22f9.28c42c"]]},{"id":"a9023c42.74a5","type":"function","z":"c4ef04b6.f3ef08","name":"set expired","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'Token expired'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":380,"y":197,"wires":[["52aa22f9.28c42c"]]},{"id":"3830ad29.31d952","type":"function","z":"c4ef04b6.f3ef08","name":"set no permission","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'no permission to access'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":800,"y":117,"wires":[["52aa22f9.28c42c"]]},{"id":"d37ebc5d.77304","type":"function","z":"c4ef04b6.f3ef08","name":"set all prop query","func":"let actInfo = msg['actInfo']\nlet sqlStr = 'select p_name, p_value, p_desc, p_type, createTime from api_system_properties where (p_type = \"ALL\" or p_type in ('+msg.grps+')) '\nif(actInfo.search && actInfo.search.length > 0){\n  sqlStr = sqlStr + ' and p_name like \"%'+actInfo.search+'%\" '\n}\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":800,"y":37,"wires":[["7489dd32.ceffd4"]]},{"id":"6a08ab0a.d18584","type":"function","z":"c4ef04b6.f3ef08","name":"set result","func":"let newPayload = {}\nif(msg.payload.length > 0){\n  newPayload['responseCode'] = '000'\n  newPayload['responseMsg'] = 'query success'\n  newPayload['size'] = msg.payload.length\n  newPayload['props'] = msg.payload\n}else{\n  newPayload['responseCode'] = '404'\n  newPayload['responseMsg'] = 'No Data'\n}\nmsg['payload'] = newPayload  \nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":37,"wires":[["139a20e3.fa164f"]]},{"id":"9db0f732.3c3f38","type":"function","z":"c4ef04b6.f3ef08","name":"check grp","func":"let actInfo = msg['actInfo']\nlet accessFlg = false\nlet OAFlg = false\nlet grpStr = actInfo.grp\nif(grpStr){\n  let ar = grpStr.split(',')\n    for(let i = 0 ; i < ar.length ; i++){\n      if(ar[i] === '22'|| ar[i] === '30'){\n        accessFlg = true\n      }\n      if(ar[i] === '8'){\n        OAFlg = true\n      }\n  }\n}\n\nmsg['OAFlg'] = OAFlg\nmsg['accessFlg'] = accessFlg\nmsg['dataset'] = actInfo.dataset\nmsg['grps'] = actInfo.grp\nreturn msg","outputs":1,"noerr":0,"x":370,"y":77,"wires":[["ea7f6dd9.4bbe3"]]},{"id":"ea7f6dd9.4bbe3","type":"switch","z":"c4ef04b6.f3ef08","name":"check accessFlg","property":"accessFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":580,"y":77,"wires":[["d37ebc5d.77304"],["3830ad29.31d952"]]},{"id":"863f039d.1f555","type":"function","z":"c4ef04b6.f3ef08","name":"set token to payload","func":"let actInfo = msg['actInfo']\nlet newPayload = []\nnewPayload.push(actInfo.token)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":170,"y":257,"wires":[["3a41be77.11d0c2"]]},{"id":"51d7372f.c83ee8","type":"switch","z":"c4ef04b6.f3ef08","name":"check token expired","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":177,"y":181,"wires":[["cc0517c7.8b11c8"],["a9023c42.74a5"]]},{"id":"cc0517c7.8b11c8","type":"function","z":"c4ef04b6.f3ef08","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  msg['actInfo'] = actInfo\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":147,"y":141,"wires":[["39990ff1.6c9c2"]]},{"id":"f353b709.247228","type":"http in","z":"c4ef04b6.f3ef08","name":"","url":"/sys","method":"get","upload":false,"swaggerDoc":"","x":115,"y":481,"wires":[["9447ad10.ce4cc"]]},{"id":"139a20e3.fa164f","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1340,"y":37,"wires":[]},{"id":"9990d313.f4a6a","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":110.5,"y":344,"wires":[["40f8d8ed.3d0098"]]},{"id":"7489dd32.ceffd4","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":1014.5,"y":37,"wires":[["6a08ab0a.d18584"]]},{"id":"3a41be77.11d0c2","type":"subflow:47f0f2eb.a3493c","z":"c4ef04b6.f3ef08","x":156.5,"y":216,"wires":[["51d7372f.c83ee8"]]},{"id":"7e2da779.179158","type":"http in","z":"c4ef04b6.f3ef08","name":"","url":"/sys","method":"post","upload":false,"swaggerDoc":"","x":95,"y":1255.2499923706055,"wires":[["3f64d0d0.fd4b7"]]},{"id":"2af2f26f.75023e","type":"switch","z":"c4ef04b6.f3ef08","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":95,"y":971.2499923706055,"wires":[["7a6aaf5e.a5d0d"],["4f3542c7.931f8c"]]},{"id":"7a6aaf5e.a5d0d","type":"function","z":"c4ef04b6.f3ef08","name":"check login history","func":"msg['actInfo'] = msg.payload\nlet sqlStr = 'select * from api_login_history where history_logout_time is null and userToken = \"' + msg.payload.token+ '\" '\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":107,"y":925.2499923706055,"wires":[["737bf6b6.ec7938"]]},{"id":"4f3542c7.931f8c","type":"function","z":"c4ef04b6.f3ef08","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":430,"y":1080.2499923706055,"wires":[["9824f059.f841e"]]},{"id":"9824f059.f841e","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1109,"y":952.2499923706055,"wires":[]},{"id":"73d26648.b51eb8","type":"switch","z":"c4ef04b6.f3ef08","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":95,"y":837.2499923706055,"wires":[["5d1cc887.9d8388"],["c937a9e0.eb79f8"]]},{"id":"c937a9e0.eb79f8","type":"function","z":"c4ef04b6.f3ef08","name":"set logout result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'User already logout'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":362,"y":886.2499923706055,"wires":[["9824f059.f841e"]]},{"id":"90b08a6a.ffa588","type":"switch","z":"c4ef04b6.f3ef08","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":110,"y":640.2499923706055,"wires":[["63162dd5.e4f014"],["7e2be241.a951ac"]]},{"id":"7e2be241.a951ac","type":"function","z":"c4ef04b6.f3ef08","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":370,"y":680.2499923706055,"wires":[["9824f059.f841e"]]},{"id":"696682f7.a05d1c","type":"function","z":"c4ef04b6.f3ef08","name":"set expired","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'Token expired'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":360,"y":760.2499923706055,"wires":[["9824f059.f841e"]]},{"id":"76f5bf31.59b8e","type":"function","z":"c4ef04b6.f3ef08","name":"set no permission","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'no permission to access'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":700,"y":680.2499923706055,"wires":[["9824f059.f841e"]]},{"id":"b59d8427.a45218","type":"function","z":"c4ef04b6.f3ef08","name":"set result","func":"let newPayload = {}\nlet res = ''\nif(msg.payload.affectedRows && msg.payload.affectedRows > 0){\n  newPayload['responseCode'] = '000'\n  res = 'success'    \n}else{\n  newPayload['responseCode'] = '999'\n  res = 'fail'\n}\nif(msg.action === 'update'){\n  newPayload['responseMsg'] = 'update ' + res\n}\nif(msg.action === 'insert'){\n  newPayload['responseMsg'] = 'insert ' + res\n}\nmsg['payload'] = newPayload  \nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":600.2499923706055,"wires":[["be66309a.e9d74"]]},{"id":"be66309a.e9d74","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1740,"y":520.2499923706055,"wires":[]},{"id":"f586ac39.94562","type":"switch","z":"c4ef04b6.f3ef08","name":"check type","property":"payload.type.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":100,"y":1065.2499923706055,"wires":[["10759c97.56bb13"],["4f3542c7.931f8c"]]},{"id":"5745b3c3.a4b0fc","type":"switch","z":"c4ef04b6.f3ef08","name":"check sysId","property":"sysId","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"neq","v":"-1","vt":"str"}],"checkall":"true","outputs":2,"x":740,"y":580.2499923706055,"wires":[["22aaf929.b22386"],["d7f12eed.0d591"]]},{"id":"d7f12eed.0d591","type":"function","z":"c4ef04b6.f3ef08","name":"set update properties query","func":"let actInfo = msg['actInfo']\nlet sqlStr = 'UPDATE `cloudb`.`api_system_properties` SET  `p_value` = \"'+actInfo.value+'\", `p_desc` = \"'+actInfo.desc+'\", `p_type` = \"'+actInfo.type+'\", `updateTime` = current_time(), `updateUser` = '+actInfo.userId+' WHERE `p_name` = \"'+actInfo.name+'\"'\nmsg['action'] = 'update'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":950,"y":600.2499923706055,"wires":[["409a2323.304c8c"]]},{"id":"d01a42a5.a2a85","type":"switch","z":"c4ef04b6.f3ef08","name":"check name","property":"payload.name.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":103,"y":1161.2499923706055,"wires":[["697a2ee5.a030a"],["4f3542c7.931f8c"]]},{"id":"697a2ee5.a030a","type":"switch","z":"c4ef04b6.f3ef08","name":"check value","property":"payload.value.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":99,"y":1111.2499923706055,"wires":[["f586ac39.94562"],["4f3542c7.931f8c"]]},{"id":"3f64d0d0.fd4b7","type":"switch","z":"c4ef04b6.f3ef08","name":"check sysId","property":"payload.sysId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":96,"y":1207.2499923706055,"wires":[["d01a42a5.a2a85"],[]]},{"id":"10759c97.56bb13","type":"switch","z":"c4ef04b6.f3ef08","name":"check desc","property":"payload.desc.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":102,"y":1020.2499923706055,"wires":[["2af2f26f.75023e"],[]]},{"id":"22aaf929.b22386","type":"function","z":"c4ef04b6.f3ef08","name":"set get prop query","func":"let actInfo = msg['actInfo']\nlet sqlStr = 'select p_name, p_value, p_desc, p_type, createTime from api_system_properties where p_name = \"'+actInfo.name+'\"'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":920,"y":540.2499923706055,"wires":[["7f5742cf.abbb2c"]]},{"id":"ee4d307e.d82a5","type":"switch","z":"c4ef04b6.f3ef08","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1198.1250190734863,"y":506.4999990463257,"wires":[["fa0f4161.0faa4"],["baeb7f76.f5482"]]},{"id":"baeb7f76.f5482","type":"function","z":"c4ef04b6.f3ef08","name":"set properties exist","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'properties name exist'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1240,"y":560.2499923706055,"wires":[["d2641bfc.dc3bc8"]]},{"id":"d2641bfc.dc3bc8","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1400,"y":560.2499923706055,"wires":[]},{"id":"63162dd5.e4f014","type":"function","z":"c4ef04b6.f3ef08","name":"check grp","func":"let actInfo = msg['actInfo']\nlet grpStr = actInfo.grp\nlet ar = grpStr.split(',')\nlet accessFlg = false\nlet OAFlg = false\nfor(let i = 0 ; i < ar.length ; i++){\n    if(ar[i] === '22'|| ar[i] === '30'){\n      accessFlg = true\n    }\n    if(ar[i] === '8'){\n      OAFlg = true\n    }\n}\nmsg['OAFlg'] = OAFlg\nmsg['accessFlg'] = accessFlg\nmsg['dataset'] = actInfo.dataset\nreturn msg","outputs":1,"noerr":0,"x":350,"y":600.2499923706055,"wires":[["fc4aff43.843c6"]]},{"id":"fc4aff43.843c6","type":"switch","z":"c4ef04b6.f3ef08","name":"check accessFlg","property":"accessFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":540,"y":600.2499923706055,"wires":[["5745b3c3.a4b0fc"],["76f5bf31.59b8e"]]},{"id":"5d1cc887.9d8388","type":"function","z":"c4ef04b6.f3ef08","name":"set token to payload","func":"let actInfo = msg['actInfo']\nlet newPayload = []\nnewPayload.push(actInfo.token)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":130,"y":800.2499923706055,"wires":[["5b2a76ab.4d2198"]]},{"id":"7a741c4d.172504","type":"switch","z":"c4ef04b6.f3ef08","name":"check token expired","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":137,"y":724.2499923706055,"wires":[["c74e1d6c.5184b"],["696682f7.a05d1c"]]},{"id":"c74e1d6c.5184b","type":"function","z":"c4ef04b6.f3ef08","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  msg['actInfo'] = actInfo\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":107,"y":684.2499923706055,"wires":[["90b08a6a.ffa588"]]},{"id":"fa0f4161.0faa4","type":"function","z":"c4ef04b6.f3ef08","name":"set insert properties query","func":"let actInfo = msg['actInfo']\nlet sqlStr = 'INSERT INTO `cloudb`.`api_system_properties` (`p_name`, `p_value`, `p_desc`, `p_type`, `createTime`, `createUser`) VALUES (\"'+actInfo.name+'\", \"'+actInfo.value+'\", \"'+actInfo.desc+'\", \"'+actInfo.type+'\", current_time(), '+actInfo.userId+') '\nmsg['action'] = 'insert'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":1424.25,"y":472,"wires":[["409a2323.304c8c"]]},{"id":"5b2a76ab.4d2198","type":"subflow:47f0f2eb.a3493c","z":"c4ef04b6.f3ef08","x":126.5,"y":765,"wires":[["7a741c4d.172504"]]},{"id":"7f5742cf.abbb2c","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":1065.5,"y":498,"wires":[["ee4d307e.d82a5"]]},{"id":"409a2323.304c8c","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":1555.5,"y":597,"wires":[["b59d8427.a45218"]]},{"id":"737bf6b6.ec7938","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":100.5,"y":879,"wires":[["73d26648.b51eb8"]]},{"id":"aedba914.8bf258","type":"http in","z":"c4ef04b6.f3ef08","name":"","url":"/sys","method":"delete","upload":false,"swaggerDoc":"","x":119,"y":1809,"wires":[["3cbc24f4.b74f6c"]]},{"id":"8a4817a4.6e9fb8","type":"switch","z":"c4ef04b6.f3ef08","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":112.33332824707031,"y":1699.999924659729,"wires":[["3d242f04.89d58"],["686bf069.3dbce"]]},{"id":"3d242f04.89d58","type":"function","z":"c4ef04b6.f3ef08","name":"check login history","func":"msg['actInfo'] = msg.payload\nlet sqlStr = 'select * from api_login_history where history_logout_time is null and userToken = \"' + msg.payload.token+ '\" '\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":124.33332824707031,"y":1653.999924659729,"wires":[["e5b2d8f3.476fa8"]]},{"id":"686bf069.3dbce","type":"function","z":"c4ef04b6.f3ef08","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":437.33333587646484,"y":1728.999924659729,"wires":[["58d9771a.a805e8"]]},{"id":"58d9771a.a805e8","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1126.3333282470703,"y":1680.999924659729,"wires":[]},{"id":"35d590ce.a8de3","type":"switch","z":"c4ef04b6.f3ef08","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":112.33332824707031,"y":1565.999924659729,"wires":[["c67a70fa.5f751"],["cd465414.40b8a8"]]},{"id":"cd465414.40b8a8","type":"function","z":"c4ef04b6.f3ef08","name":"set logout result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'User already logout'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":427.33333587646484,"y":1608.999924659729,"wires":[["58d9771a.a805e8"]]},{"id":"719298bd.400868","type":"switch","z":"c4ef04b6.f3ef08","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":127.33333587646484,"y":1368.999924659729,"wires":[["543ce10b.aebd3"],["825f2a43.4dac98"]]},{"id":"825f2a43.4dac98","type":"function","z":"c4ef04b6.f3ef08","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":427.33333587646484,"y":1408.999924659729,"wires":[["58d9771a.a805e8"]]},{"id":"356225cb.5d1b1a","type":"function","z":"c4ef04b6.f3ef08","name":"set expired","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'Token expired'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":417.33333587646484,"y":1508.999924659729,"wires":[["58d9771a.a805e8"]]},{"id":"db8bfc62.70011","type":"function","z":"c4ef04b6.f3ef08","name":"set no permission","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'no permission to access'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":857.3333358764648,"y":1348.999924659729,"wires":[["58d9771a.a805e8"]]},{"id":"180802a5.a7092d","type":"function","z":"c4ef04b6.f3ef08","name":"set delete prop query","func":"let actInfo = msg['actInfo']\nlet sqlStr = 'DELETE FROM `cloudb`.`api_system_properties` WHERE p_name = \"'+actInfo.name+'\"'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":867.3333358764648,"y":1268.999924659729,"wires":[["317edb99.ec73a4"]]},{"id":"f781ed29.bffe6","type":"http response","z":"c4ef04b6.f3ef08","name":"","statusCode":"","headers":{},"x":1397.3333358764648,"y":1268.999924659729,"wires":[]},{"id":"543ce10b.aebd3","type":"function","z":"c4ef04b6.f3ef08","name":"check grp","func":"let actInfo = msg['actInfo']\nlet grpStr = actInfo.grp\nlet ar = grpStr.split(',')\nlet accessFlg = false\nlet OAFlg = false\nfor(let i = 0 ; i < ar.length ; i++){\n    if(ar[i] === '22'|| ar[i] === '30'){\n      accessFlg = true\n    }\n}\nmsg['accessFlg'] = accessFlg\nmsg['dataset'] = actInfo.dataset\nreturn msg","outputs":1,"noerr":0,"x":407.33333587646484,"y":1308.999924659729,"wires":[["f4d9a9cd.1c1348"]]},{"id":"f4d9a9cd.1c1348","type":"switch","z":"c4ef04b6.f3ef08","name":"check accessFlg","property":"accessFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":617.3333358764648,"y":1308.999924659729,"wires":[["180802a5.a7092d"],["db8bfc62.70011"]]},{"id":"3cbc24f4.b74f6c","type":"switch","z":"c4ef04b6.f3ef08","name":"check name","property":"payload.name.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":117.33332824707031,"y":1750.6664247512817,"wires":[["8a4817a4.6e9fb8"],["686bf069.3dbce"]]},{"id":"2fb16b32.5b0214","type":"function","z":"c4ef04b6.f3ef08","name":"set result","func":"let newPayload = {}\nlet res = ''\nif(msg.payload.affectedRows && msg.payload.affectedRows > 0){\n  newPayload['responseCode'] = '000'\n  res = 'success'    \n}else{\n  newPayload['responseCode'] = '999'\n  res = 'fail'\n}\nnewPayload['responseMsg'] = 'delete ' + res\nmsg['payload'] = newPayload  \nreturn msg;","outputs":1,"noerr":0,"x":1247.3333358764648,"y":1268.999924659729,"wires":[["f781ed29.bffe6"]]},{"id":"c67a70fa.5f751","type":"function","z":"c4ef04b6.f3ef08","name":"set token to payload","func":"let actInfo = msg['actInfo']\nlet newPayload = []\nnewPayload.push(actInfo.token)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":147.33333587646484,"y":1528.999924659729,"wires":[["b6c5a40.5d1236"]]},{"id":"60c55b04.8c9654","type":"switch","z":"c4ef04b6.f3ef08","name":"check token expired","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":154.33333587646484,"y":1452.999924659729,"wires":[["90ba0c11.d5124"],["356225cb.5d1b1a"]]},{"id":"90ba0c11.d5124","type":"function","z":"c4ef04b6.f3ef08","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  flow.set('actInfo', actInfo)\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":124.33333587646484,"y":1412.999924659729,"wires":[["719298bd.400868"]]},{"id":"b6c5a40.5d1236","type":"subflow:47f0f2eb.a3493c","z":"c4ef04b6.f3ef08","x":139.5,"y":1493,"wires":[["60c55b04.8c9654"]]},{"id":"e5b2d8f3.476fa8","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":107.5,"y":1606,"wires":[["35d590ce.a8de3"]]},{"id":"317edb99.ec73a4","type":"subflow:42cc5e2a.1f178","z":"c4ef04b6.f3ef08","x":1062.5,"y":1269,"wires":[["2fb16b32.5b0214"]]}]